.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  max-height: 52px;
  padding: 0 48px;
}

@media screen and (max-width: 984px) {
  .header {
    padding: 0 24px;
  }
}
@media screen and (max-width: 568px) {
  .header {
    padding: 0 16px;
    max-height: 42px;
  }
}
