.intro {
    margin-left: 100px;
    max-width: 690px;
}

@media screen and (max-width: 1124px) {
  .intro {
    margin-left: 0;
  }

}

@media screen and (max-width: 568px) {
  .intro {
    margin-left: 16px;
    margin-right: 16px;
  }
}
