.photo-grid__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    list-style: none;
    max-width: 1184px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}