.cover__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    text-align: center;
    margin: 0 auto 32px;
    max-width: 560px;
}

@media screen and (max-width: 568px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
        max-width: calc(100vw - 16px * 2);
    }
}
