.lead__margin {
    margin-left: 100px;
    margin-right: 100px;
}

@media screen and (max-width: 1124px) {
.lead__margin {
  margin: 0;
}
}

@media screen and (max-width: 568px) {
  .lead__margin {
    margin: 0 16px 0;
  }
}

