.place__item {
  display: grid;
  grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
  gap: 48px 40px;
}

@media screen and (max-width: 1124px) {
  .place__item {
    max-width: calc(100vw - 48px * 2);
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 984px) {
  .place__item {
    max-width: calc(100vw - 24px * 2);
    grid-gap: 48px 28px;
  }
}

@media screen and (max-width: 754px) {
  .place__item {
    max-width: 100vw;
    gap: 32px;
    grid-template-columns: 1fr;
  }
}
