.place__item {
  display: grid;
  grid-template-columns: minmax(460px,1fr) minmax(min-content, max-content);
  grid-template-areas:
  "title website"
  "image paragraphs";
  gap: 48px 40px;
}

@media screen and (max-width: 1124px) {
  .place__item {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 984px) {
  .place__item {
    gap: 48px 32px;
    grid-template-columns: minmax(340px,1fr) minmax(min-content, max-content);
  }
}

@media screen and (max-width: 568px) {
  .place__item {
    gap: 32px;
    grid-template-columns: minmax(320px,1fr);
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraphs";
  }
}
